$clr-bg: #eef5ff;
$clr-form-bg: #ffffff;

$clr-input-border: #e2e2e8;
$clr-input-border-focus: #343480;
$clr-input-text: #0a3264;

$clr-red: #e30137;

//Buttons
$clr-button-confirm: #483eff;
$clr-button-next: #03295a;
$clr-button-next-focus: rgba(3, 41, 90, .9);
$clr-button-prev: #fff;
$clr-checkbox-active: #03295a;


$ff-main: 'Ubuntu', sans-serif;

$clr-disabled: #808080;


$clr-border: #242424;
$clr-border-hover: yellow;
